.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
    background-color: #121212; 
}

.login-container h1 {
    margin-bottom: 1rem;
    color: #fff;
}

.login-container p {
    margin-bottom: 2rem;
    color: #b3b3b3;
}

.login-button {
    background-color: #1aa34a; 
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #1ed760;
}

.first-time-user {
    margin-top: 3rem;
    padding: 2rem;
    background-color: #282828; 
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px; /* Omejitev širine */
    width: 90%; /* Responzivna širina */
}

.first-time-user h2 {
    margin-bottom: 1rem;
    color: #fff;
}

.first-time-user p {
    color: #b3b3b3;
    margin-bottom: 1.5rem;
}

.email-input {
    width: calc(100% - 22px); /* Prilagoditev za padding */
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.submit-button {
    background-color: #1aa34a; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #1ed760;
}

/* Stili za pojavno okno */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #282828;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  max-width: 90%;
  width: 400px;
}

.popup-content p {
    margin-bottom: 20px;
    color: #fff;
}

.popup-close-button {
  background-color: #1aa34a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-close-button:hover {
    background-color: #1ed760;
}
